
  .favourite{
    display: grid;
    grid-template-areas:
      "fave1 fave2 fave3";
    grid-template-columns: 3fr 3fr 3fr;
    height: auto;
    color: white;
  }

  .favourite-bg-1 {
    background-image: url(../img/favourites/indonesia.png);
    grid-area: fave1;
    margin: 20px;
    background-size: cover;
  }
  
  .favourite-bg-2 {
    background-image: url(../img/favourites/australia.png);
    grid-area: fave2;
    margin: 20px;
    background-size: cover;
  }
  
  .favourite-bg-3 {
    background-image: url(../img/favourites/switzerland.png);
    grid-area: fave3;
    margin: 20px;
    background-size: cover;
  }

  .country-name{
    position: relative;
    font-family: 'Comforter Brush', cursive;
    font-size: 56px;
    margin-left: 10%;
    margin-top: 10%;
    margin-bottom: 0;
  }

  .country-text {
    top: 30%;
    margin-left: 10%;
  }

  .explore-button{
    background-color: green;
    border: none;
    margin-left: 10%;
    margin-bottom: 10%;
  }

  .explore-button > a {
    color: white;
    text-decoration: none;
  }
  
  