.popular {
    text-align: center;
}

.popular > p {
    color: grey;
}

.pop-dest-pics {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.destination {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(10, 1fr);
    margin: 20px;
    background-size: cover;
    height: 400px;
    border-radius: 5px;
    color: white;
}

.dest-name {
    grid-column: 1;
    grid-row: -1;
}

.oval-button {
    grid-column: 2;
    grid-row: -1;
    background-color: turquoise;
    border-style: none;
    border-radius: 50px;
    height: 20px;
    display: block;
    margin: 16px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.oval-button > a {
    color: white;
}

#italy {
    background-image: url(../img/destination/italy.png);    
}

#brazil {
    background-image: url(../img/destination/brazil.png);
}

#america {
    background-image: url(../img/destination/america.png);
}

#nepal {
    background-image: url(../img/destination/nepal.png);
}

#maldives {
    background-image: url(../img/destination/maldives.png);
}

#indonesia {
    background-image: url(../img/destination/indonesia.png);
}

