.popular {
    text-align: center;
}

.pop-dest-pics {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.destination {
    display: flex;
    margin: 8px;
}

.oval-button {
    background-color: turquoise;
    border-style: none;
    border-radius: 50px;
    height: 1rem;
}

.oval-button > a {
    color: white;
    /* padding: 8px; */
}

#italy {
    background-image: url(../img/destination/italy.png);
    background-size: cover;
    height: 300px;
}


